@tailwind base;
@tailwind components;
@tailwind utilities;


/* add the code bellow */ 
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  .no-scrollbar {
      -ms-overflow-style: none; 
      scrollbar-width: none; 
}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

:root{
  --raisin-black-1: hsl(234, 14%, 14%);
  --raisin-black-2: hsl(231, 12%, 12%);
  --raisin-black-3: hsl(228, 12%, 17%);
  --eerie-black: hsl(240, 11%, 9%);
  --light-gray: hsl(0, 0%, 80%);
  --platinum: hsl(0, 4%, 91%);
  --xiketic: hsl(275, 24%, 10%);
  --orange: #3B82F6;
  --white: hsl(0, 0%, 100%);
  --onyx: hsl(240, 5%, 26%);
}


@layer utilities {
  .animation-pause {
    animation-play-state: paused;
  }
}


.custom-cursor {
  position: fixed;
  width: 25px;
  height: 25px;
  background-color: #3B82F6; /* Orange color */
  border-radius: 50%;
  pointer-events: none; /* Prevent cursor blocking interactions */
  transform: translate(-50%, -50%);
  z-index: 1000; /* Place cursor above other elements */
  transition: transform 0.2s ease-out, width 0.2s, height 0.2s;
}

.custom-cursor.hovered {
  width: 30px;
  height: 30px;
  opacity: 0.5;
  transform: translate(-50%, -50%) scale(1.5); /* Expand on hover */
  background-color: #3B82F6;
}

.lineclass::after {
  /* position: absolute; */
  content: "";
  width: 7rem;
  height: 1px;
  background: #3B82F6;
  display: inline-block;
  margin: 2px 10px;
  color: rgba(255, 255, 255, 0.1);
}



.scrollbar-hidden {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent; /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  width: 0px; /* Chrome, Safari, and Edge */
}

.scrollbar-hidden::-webkit-scrollbar-thumb {
  background: transparent; /* Chrome, Safari, and Edge */
}

.scrollbar-hidden::-webkit-scrollbar-track {
  background: transparent; /* Chrome, Safari, and Edge */
}